body{
    margin: 0%;
    height: 100%;
}
.headerContent{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items:center;
    border: 0px solid green;
    width:100%;
    background-color: white;
}
.logoContent{
    display: flex;
    flex-direction: row;
    align-items:center;
    border: 0px solid green;
    width:80%;
    margin-top: 10px;
 }
 .employee{
    color: rgb(0, 0, 1);
    font-weight: bold;
 }
 .emp-text-nextline{
    color:#42515F;
    font-weight: bold;  
 }
.Head-name{
    color: rgb(7, 7, 13);
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 260px; 
}